@media screen and (min-width: 750px) {
    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        background-color: #666666;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    
    body{
        margin: 0;
        text-align:justify;
    }
    
    .izbornikPocetna {
        display: block;
        float: left;
        text-decoration: none;
        color:black;
        padding-top: 4vh;
        padding-bottom: 4vh;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        align-content: center;
    }
    
    .izbornikPocetna:hover {
        background-color: darkgray;
        color: #3E363F;
    }

    #navPocetna{
        align-content: center;
    }
    
    #naslovILogoPocetna {
        display: flex;
        flex-direction: row;
    }
    
    #naslovPocetna{
        font-size:200%;
    }

    .mobilniIzbornik {
        display: none; 
    }

    footer {
        text-align: center;
        background-color: #666666;
        height: 12vh;
        align-content: center;
    }

    p{
        color: black;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        padding-right: 1vw;
    }

    #kartaKontenjerPocetna{
        padding-top: 10vh;
        display: flex;
        flex-direction: row;
    }

    #sredisnjiPocetna{
        background-image: url('../resursi/slike/pozadina_pocetna.jpg');
        background-size: cover;
        z-index: -1;
    }
    
    #opisMuzejaPocetna{
        padding-left: 1vw;
    }

    iframe.karta{
        padding-top: 10vh;
        padding-right: 1vw;
        width: 400px;
        height: 300px;
    }

    .blok {
        width: 250px;
        height: 270px;
        background-color: #666666;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }

    .blok:hover {
        transform: scale(1.2);
    }    

    .blok a{
        text-decoration: none;
        color:lightgrey;
    }

    #obavjestiKontenjer{
        text-align: center;
    }

    footer p a{
        text-decoration: none;
        color: black;
    }

    #trenutna{
        background-color: darkgray;
    }

    #sredisnjiAutor{
        padding-top: 10vh;
    }

    #sredisnjiPrviDio{
        display: flex;
        flex-direction: row;
    }

    #sredisnjiAutor{
        background-image: url('../resursi/slike/autorPozadina.jpg');
        background-size: cover;
    }

    #sredisnjiPrviDio{
        justify-content: center;
    }

    #opisAutora{
        display: block;
        flex-direction: row;
        background-color: #666666;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #opisAutora:hover{
        transform: scale(1.02);
    }
    
    #mojaSlika{
        padding-top: 10vh;
        padding-right: 2vh;
    }

    #kvalifikacijeAutora{
        display: block;
        background-color: #666666;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #kvalifikacijeAutora:hover{
        transform: scale(1.02);
    }

    @keyframes rotiraj {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(365deg);
        }
    }

    @keyframes suzavanje {
        from {
            transform: scaleX(1); 
        }
        to {
            transform: scaleX(0.5); 
        }
    }

    @keyframes providnost{
        from{
            filter: blur(5px);
        }
        to{
            filter: blur(10px);
        }
    }

    #mojaSlika:hover {
        animation: rotiraj 5s linear infinite; 
    }

    p.boldanFont{
        text-shadow: none;
    }

}

@media screen and (max-width: 750px) {
    header {
        width: 100%;
        background-color: #666666;
        text-align: center;
    }
    
    body{
        margin: 0;
        text-align:justify;
    }

    .izbornikPocetna {
        display: none; 
    }

    .mobilniIzbornik {
        display: block; 
        text-align: center; 
    }

    .mobilniIzbornik a {
        display: block;
        padding: 10px; 
        text-decoration: none; 
        color: black;
        align-items: center;
    }
    
    #naslovILogoPocetna {
        display: flex;
        flex-direction: row;
    }
    
    #naslovPocetna{
        font-size:200%;
        padding-left: 1vw;
    }

    .mobilniIzbornikPocetna:hover {
        background-color: darkgray;
        color: #3E363F;
    }

    footer{
        text-align: center;
        background-color: #666666;
        height: 12vh;
        align-content: center;
    }

    p{
        color: black;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        padding-left: 1vw;
        padding-right: 1vw;
    }

    #sredisnjiPocetna{
        background-image: url('../resursi/slike/pozadina_pocetna_mobilni.jpg');
        background-size: cover;
        z-index: -1;
    }

    iframe.karta{
        margin: 0 auto;
        display: block;
        width: 350px;
        height: 350px;
    }

    .blok {
        width: 50vw;
        height: 40vh;
        background-color: #666666;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }

    .blok:hover {
        transform: scale(1.2);
    } 

    .blok a{
        text-decoration: none;
        color:lightgrey;
    }

    #obavjestiKontenjer{
        text-align: center;
    }

    footer p a{
        text-decoration: none;
        color: black;
    }

    #trenutna{
        background-color: darkgray;
    }

    #sredisnjiPrviDio{
        justify-content: center;
        text-align: center;
    }

    #sredisnjiAutor{
        background-image: url('../resursi/slike/autorPozadina.jpg');
        background-size: cover;
        z-index: -1;
    }

    #opisAutora{
        display: block;
        flex-direction: row;
        background-color: #666666;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #kvalifikacijeAutora{
        display: block;
        background-color: #666666;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding-bottom: 6vh;
    }

    @keyframes rotateImage {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(365deg);
        }
    }

    #mojaSlika:hover {
        animation: rotateImage 5s linear infinite; 
    }

    p.boldanFont{
        text-shadow: none;
    }
    
}





